@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body
{
  color: white !important;
  background-color: #131722;
  font-family: 'Montserrat Alternates', sans-serif;
}
input
{
  background-color: transparent !important;
  color: white !important;
}
